result 
{
    .showResultsButtonStyle
    {
        font-size: 14px;
        height: 30px;
        background-color: #0e1452;
        border-radius:64px;
        color:white;
        margin-left:1%;
        width: 150px
    }
    
}
