<!--
  Generated template for the LotteryDetailPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->


<!-- <ion-header>
    <ion-navbar>
      <ion-title>
        <img alt="logonew" class="centre"  src="../../assets/imgs/logonew.png" > 
      </ion-title>
   </ion-navbar>
   </ion-header> -->

<ion-header>
    <ion-navbar>
      <ion-toolbar >
        
        <ion-buttons item-start>
          <button ion-button icon-only color="royal">
            <!-- <ion-icon name="search"></ion-icon> -->
            <img src="../../assets/imgs/pick.png" style="background-color: transparent; height: 45px; width: 45px;" ng-click="nextpage()" >
            Lotto 5/11
          </button>
        </ion-buttons>
        <!-- <ion-item class="wrap"> -->
       
         <!-- </ion-item> -->
      
        <ion-buttons end>
          <button ion-button icon-only color="royal">
            <img src="../../assets/imgs/bbb.png" style="background-color: transparent; height: 30px; width: 30px;" ng-click="nextpage()" >
          </button>
        </ion-buttons>
        <ion-buttons end style="color: seagreen">
            Draw:13554
            </ion-buttons>
      </ion-toolbar>
   </ion-navbar>
   </ion-header>


<!-- <ion-header style="background: white"> -->
   
<!-- </ion-header> -->

<ion-content>
    <!--<ion-toolbar >
        <ion-buttons item-start>
          <button ion-button icon-only color="royal">
         
            <img src="../../assets/imgs/pick.png" style="background-color: transparent; height: 45px; width: 45px;" ng-click="nextpage()" >
            Lotto 5/11
          </button>
        </ion-buttons>
        
      
        <ion-buttons end>
          <button ion-button icon-only color="royal">
            <img src="../../assets/imgs/bbb.png" style="background-color: transparent; height: 30px; width: 30px;" ng-click="nextpage()" >
          </button>
        </ion-buttons>
        <ion-buttons end style="color: seagreen">
            Draw:13554
            </ion-buttons>
      </ion-toolbar>-->

  <ion-row>
      <ion-col class="col col-33">
          <ion-item no-lines>
              <h4 style="color: grey; margin-top: 10px;">How to Play</h4>
            </ion-item>
        </ion-col>
        <ion-col>
            <ion-item class="col col-33" no-lines>
                <button  class="col col-20" ion-button color="twitter" round>00:09:23</button>
                <!-- <h3 style="color: green;align-content: center">00:09:23</h3> -->
                <h5 class="col col-20" style="color: firebrick">11.45 AM</h5>
              </ion-item>
          </ion-col> 
          <ion-col class="col col-33">
              <ion-select [(ngModel)]="Type" placeholder="spot 1" class="col col-30 selector"> 
                  <ion-option value="spot1">spot1</ion-option>
                  <ion-option value="spot2">spot2</ion-option>
                  <ion-option value="spot3">spot3</ion-option>
                  <ion-option value="spot4">spot4</ion-option>
                  <ion-option value="spot5">spot5</ion-option>
                  <ion-option value="spot6">spot6</ion-option>
                  <ion-option value="spot7">spot7</ion-option>
                  <ion-option value="spot8">spot8</ion-option>
                </ion-select>
          </ion-col>
    </ion-row>
    <p style="border-style: solid;border-width: 1px;border-color:#ccc;margin-top: 0px;margin-bottom: 0px;"></p>

        <!-- additional key layout -->
        <ion-row>
            <ion-col class="col-25 "></ion-col>
            <ion-col class="col">
               <button  ion-button round style="font-size: 14px;height: 30px;background-color: #6c0202">AUTO PICK</button>
             </ion-col>
             <ion-col class="col">
               <button ion-button color="twitter" round style="font-size: 11px;height: 30px;background-color: #406609">ADD TO PAYSLIP</button>
            </ion-col>
            <ion-col class="col">
              <img src="../../assets/imgs/loading.png" style="background-color: transparent; height: 25px; width: 25px;margin-top: 5px" ng-click="nextpage()" >
            </ion-col>
            <ion-col class="col-25 "></ion-col>
        </ion-row>

        <ion-row class ="col" style="background-image: url('../../assets/imgs/lotterybck.png'); height: 300px;"> 
            <!-- <img class="col" src="../../assets/imgs/lotterybck.png" > -->
            <ion-grid>
                <ion-row>
                  <ion-col col>
                      <div class = "circle-pic image">
                        <div text-center style="margin-top: 7px"> 1 </div>
                      </div>
                   </ion-col>
                   <ion-col col>
                      <div class = "circle-pic image">
                        <div text-center style="margin-top: 7px"> 2 </div>
                      </div>
                   </ion-col>
                   <ion-col col>
                      <div class = "circle-pic image">
                        <div text-center style="margin-top: 7px"> 3 </div>
                      </div>
                   </ion-col>
                   <ion-col col>
                      <div class = "circle-pic image">
                        <div text-center style="margin-top: 7px"> 4 </div>
                      </div>
                   </ion-col>

                   <ion-col col>
                      <div class = "circle-pic image">
                        <div text-center style="margin-top: 7px"> 5 </div>
                      </div>
                   </ion-col>

                   <ion-col col>
                      <div class = "circle-pic image">
                        <div text-center style="margin-top: 7px"> 6 </div>
                      </div>
                   </ion-col>
                   <ion-col col>
                      <div class = "circle-pic image">
                        <div text-center style="margin-top: 7px"> 7 </div>
                      </div>
                   </ion-col>

                
                </ion-row>

                <ion-row>
                    <ion-col class="col " style="text-align: center">
                        <ion-col col>
                            <div class = "circle-pic image">
                              <div text-center style="margin-top: 7px"> 8 </div>
                            </div>
                         </ion-col>

                       <ion-col col>
                        <div class = "circle-pic image">
                          <div text-center style="margin-top: 7px"> 9</div>
                        </div>
                     </ion-col>
                     <ion-col col>
                      <div class = "circle-pic image">
                        <div text-center style="margin-top: 7px"> 10</div>
                      </div>
                   </ion-col>
                   <ion-col col>
                    <div class = "circle-pic image">
                      <div text-center style="margin-top: 7px"> 11</div>
                    </div>
                 </ion-col>
                     </ion-col>

                  

                   
                     <!-- <ion-col col>

                     <button ion-button icon-only style="background-color: transparent">
                        <div class = "circle-pic image">
                          <div text-center style="margin-top: 7px"> 11</div>
                        </div>
                      </button>
                      </ion-col> -->
                  </ion-row>
             </ion-grid>
        </ion-row>

</ion-content>
