virtual-sports {

}

.blue-btn{
    background-color: $navigation-bar-color;
    color: white;
}

.item-md.activated{
    background-color: $orange-color;
}

.item-md {
     padding-left: 0px; 
}

.item-inner{
    padding-left: 6px;
    padding-right: 6px;
}

.center-align{
    height: 35px;
    line-height: 35px;
    text-align: center;
    padding-top: 0px;
}

.center-image{
    vertical-align: middle;
}