page-tabs{
   
    ion-icon {
        background-repeat: no-repeat;
        background-position: 50%;
        background-size: contain;
        background-size: 18px;

        &[ng-reflect-name="customicon"] {
            background-image: url('../../assets/imgs/pick5.png');
            &[ng-reflect-is-active="true"] {
                background-image: url('../../assets/imgs/Keno.png');
            }
        }
    }
}