lottery {
    .main-header{
        background:$sub-title-color  !important;
        color: #fff;
        cursor: pointer;
        margin: 0;
        border-radius: 0;
        width: 100%;
    };


    .panel-title{
        border-bottom: 1px solid #fdd9bb;        
        background: url(../../assets/imgs/accordian.png);
        background-repeat: no-repeat;
        border: 0;
        color: white;
        text-align: center;
    };

    .label-md {
         margin: 0px
    }

     .list-header-md{
         margin: 0px;
     }
}
