<div >
  <ion-slides pager>

    <ion-slide class="banner-style">
      <img src="../../assets/imgs/bannertwo.png" >
    </ion-slide>

    <ion-slide class="banner-style">
      <img src="../../assets/imgs/bannerthree.png" >
    </ion-slide>

  </ion-slides>
</div>


  <div>
  <ion-row class="bg">

      <ion-col col-6 class="game-div">
          <div>
              <img class="square-image" src="../../assets/imgs/Euromillions.png" >
          </div>
          <h6 class="h6-custom">Euro Millions</h6>
          <button class="play-btn" ion-button>PLAY</button>
        </ion-col>

    <ion-col col-6 class="game-div">
          <div>
              <img class="square-image" src="../../assets/imgs/WesternSplash.png" >
          </div>
          <h6 class="h6-custom">Western Splash</h6>
          <button class="play-btn" ion-button>PLAY</button>
        </ion-col>
  </ion-row>

   <ion-row class="bg">
    <ion-col col-6 class="game-div">
        <div>
            <img class="square-image" src="../../assets/imgs/westernmillion.png" >
        </div>
        <h6 class="h6-custom">Western Million</h6>
        <button class="play-btn" ion-button>PLAY</button>
      </ion-col>

    <ion-col col-6 class="game-div">
          <div>
              <img class="square-image" src="../../assets/imgs/WesternPower.png" >
          </div>
          <h6 class="h6-custom">Western Power</h6>
          <button class="play-btn" ion-button>PLAY</button>
        </ion-col>
  </ion-row> 

  <ion-row class="bg">
      
      <ion-col col-6 class="game-div">
          <div>
              <img class="square-image" src="../../assets/imgs/Keno.png" >
          </div>
          <h6 class="h6-custom">Keno</h6>
          <button class="play-btn" ion-button>PLAY</button>
        </ion-col>
          <ion-col col-6 class="game-div">
              <div>
                  <img class="square-image" src="../../assets/imgs/WesternExtra.png" >
              </div>
              <h6 class="h6-custom">Western Extra</h6>
              <button class="play-btn" ion-button>PLAY</button>
            </ion-col>
    </ion-row> 
</div>
