<div >
  <ion-slides pager>

    <ion-slide class="banner-style" *ngFor="let banner of homebannerlist">
      <img class="full-image" src={{banner.BannerSrc}} >
    </ion-slide>

  </ion-slides>
</div>


  <div>
  <ion-row class="bg" >

      <ion-col col-6 class="game-div" *ngFor="let game of gamelist">
          <div>
              <img class="square-image" src={{game.imgSrc}} >
          </div>
          <h6 class="h6-custom">{{game.name}}</h6>
          <button class="play-btn" ion-button>PLAY</button>
        </ion-col>

  </ion-row>

   
</div>
