page-segment {

    .segment-md .segment-button-new {
         height: $segment-button-md-height;
         background:$orange-color;
         color:white;
    }

    .toolbar-md {
        padding :0 !important;
        min-height: 65px;
    }

    .toolbar-background-md,.toolbar-background-ios  {
        border-color: #b2b2b2; 
        background: #2a2b55 !important; 
    }

    // .
}
